In [18]:
print 'fuck'

fuck

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
nothing

NameError: name 'nothing' is not defined

In [5]:
counts = pd.Series([632,1638,569,115])

In [6]:
counts

0     632
1    1638
2     569
3     115
dtype: int64

In [7]:
count.values

NameError: name 'count' is not defined

In [8]:
counts.values

array([ 632, 1638,  569,  115], dtype=int64)

In [9]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
bacteria = pd.Series([632,1638,569,115])

In [11]:
bacteria

0     632
1    1638
2     569
3     115
dtype: int64

In [12]:
bacteria = pd.Series([632,1638,569,115],
                     index=['a','b','c','d'])

In [13]:
bacteria

a     632
b    1638
c     569
d     115
dtype: int64

In [14]:
bacteria['a']

632

In [15]:
bacteria = pd.Series([632,1638,569,115],
                     index=['abacteria','b','cbacteria','d'])

In [16]:
[name.endwith('bacteria') for name in bacteria.index]

AttributeError: 'str' object has no attribute 'endwith'

In [17]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

abacteria    632
cbacteria    569
dtype: int64

In [19]:
[name.endswith('bacteria') for name in bacteria.index]

[True, False, True, False]

In [20]:
bacteria.name='a7a'
bacteria.index.name='bacterianames'

In [21]:
bacteria

bacterianames
abacteria     632
b            1638
cbacteria     569
d             115
Name: a7a, dtype: int64

In [24]:
np.log(bacteria)

bacterianames
abacteria    6.448889
b            7.401231
cbacteria    6.343880
d            4.744932
Name: a7a, dtype: float64

In [25]:
bacteria[bacteria>1000]

bacterianames
b    1638
Name: a7a, dtype: int64

In [26]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569,
                 'Bacteroidetes': 115}

In [27]:
pd.Series(bacteria_dict)

Actinobacteria     569
Bacteroidetes      115
Firmicutes         632
Proteobacteria    1638
dtype: int64

In [42]:
bacteria2 = pd.Series(bacteria_dict, 
                      index=['Cyanobacteria','Firmicutes',
                             'Proteobacteria','Actinobacteria'])

In [43]:
bacteria2

Cyanobacteria        NaN
Firmicutes         632.0
Proteobacteria    1638.0
Actinobacteria     569.0
dtype: float64

In [44]:
bacteria2.isnull()

Cyanobacteria      True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

In [45]:
bacteria + bacteria2

Actinobacteria   NaN
Cyanobacteria    NaN
Firmicutes       NaN
Proteobacteria   NaN
abacteria        NaN
b                NaN
cbacteria        NaN
d                NaN
dtype: float64

In [53]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1.0, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0      1.0      Firmicutes    632
1      1.0  Proteobacteria   1638
2      1.0  Actinobacteria    569
3      1.0   Bacteroidetes    115
4      2.0      Firmicutes    433
5      2.0  Proteobacteria   1130
6      2.0  Actinobacteria    754
7      2.0   Bacteroidetes    555

In [54]:
data[['phylum','value','patient']]

           phylum  value  patient
0      Firmicutes    632      1.0
1  Proteobacteria   1638      1.0
2  Actinobacteria    569      1.0
3   Bacteroidetes    115      1.0
4      Firmicutes    433      2.0
5  Proteobacteria   1130      2.0
6  Actinobacteria    754      2.0
7   Bacteroidetes    555      2.0

In [55]:
data

   patient          phylum  value
0      1.0      Firmicutes    632
1      1.0  Proteobacteria   1638
2      1.0  Actinobacteria    569
3      1.0   Bacteroidetes    115
4      2.0      Firmicutes    433
5      2.0  Proteobacteria   1130
6      2.0  Actinobacteria    754
7      2.0   Bacteroidetes    555

In [56]:
data.columns

Index([u'patient', u'phylum', u'value'], dtype='object')

In [57]:
data.dtypes

patient    float64
phylum      object
value        int64
dtype: object

In [58]:
data['value']

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [59]:
data.value

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [60]:
type(data.value)

pandas.core.series.Series

In [61]:
type('value')

str

In [65]:
data['value'].dtype

dtype('int64')

In [66]:
data.loc[3]

patient                1
phylum     Bacteroidetes
value                115
Name: 3, dtype: object

In [73]:
data.head(2)

   patient          phylum  value
0      1.0      Firmicutes    632
1      1.0  Proteobacteria   1638

In [72]:
data.tail(3)

   patient          phylum  value
5      2.0  Proteobacteria   1130
6      2.0  Actinobacteria    754
7      2.0   Bacteroidetes    555

In [70]:
data.shape

(8, 3)

In [75]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

In [76]:
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [77]:
vals = data.value

In [78]:
vals

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [79]:
vals[5]

1130

In [80]:
vals[5]=0

C:\Users\kutayacar\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
vals

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: int64

In [91]:
vals=data.value.copy()

In [95]:
vals[5]=1000
vals[1]='a7a'

In [96]:
vals

0     632
1     a7a
2     569
3     115
4     433
5    1000
6     754
7     555
Name: value, dtype: object

In [97]:
data.value

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: int64

In [86]:
vals

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: int64

In [100]:
data['last sex']=2017

In [101]:
data

   patient          phylum  value  last_sex  last sex
0        1      Firmicutes    632      2017      2017
1        1  Proteobacteria   1638      2017      2017
2        1  Actinobacteria    569      2017      2017
3        1   Bacteroidetes    115      2017      2017
4        2      Firmicutes    433      2017      2017
5        2  Proteobacteria      0      2017      2017
6        2  Actinobacteria    754      2017      2017
7        2   Bacteroidetes    555      2017      2017

In [110]:
data[data[[name.endswith('bacteria') for name in data.phylum]]>1000]

   patient          phylum   value  last_sex  last sex
0      NaN             NaN     NaN       NaN       NaN
1      NaN  Proteobacteria  1638.0    2017.0    2017.0
2      NaN  Actinobacteria     NaN    2017.0    2017.0
3      NaN             NaN     NaN       NaN       NaN
4      NaN             NaN     NaN       NaN       NaN
5      NaN  Proteobacteria     NaN    2017.0    2017.0
6      NaN  Actinobacteria     NaN    2017.0    2017.0
7      NaN             NaN     NaN       NaN       NaN

In [114]:
treatment=pd.Series(4*[2]+2*[1])

In [115]:
treatment

0    2
1    2
2    2
3    2
4    1
5    1
dtype: int64

In [118]:
month = pd.Series(['Jan', 'Feb', 'Mar', 'Apr'])
data['month'] = month
data

   patient          phylum  value  last_sex  last sex month
0        1      Firmicutes    632      2017      2017   Jan
1        1  Proteobacteria   1638      2017      2017   Feb
2        1  Actinobacteria    569      2017      2017   Mar
3        1   Bacteroidetes    115      2017      2017   Apr
4        2      Firmicutes    433      2017      2017   NaN
5        2  Proteobacteria      0      2017      2017   NaN
6        2  Actinobacteria    754      2017      2017   NaN
7        2   Bacteroidetes    555      2017      2017   NaN

In [123]:
data['month']=['Jan']*len(data)

In [120]:
data

   patient          phylum  value  last_sex  last sex month
0        1      Firmicutes    632      2017      2017   Jan
1        1  Proteobacteria   1638      2017      2017   Jan
2        1  Actinobacteria    569      2017      2017   Jan
3        1   Bacteroidetes    115      2017      2017   Jan
4        2      Firmicutes    433      2017      2017   Jan
5        2  Proteobacteria      0      2017      2017   Jan
6        2  Actinobacteria    754      2017      2017   Jan
7        2   Bacteroidetes    555      2017      2017   Jan